html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.bar {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  padding: 20px 30px;
  position: relative;
  width: 80vw;
  height: 17vh;
}

.button {
  width: 80px;
  height: 80px;
  /* border-radius: 50%; */
  /* border: 3px solid transparent; */
  cursor: pointer;
  /* background-size: cover; */
}

img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  scale: 0.1;
  transform: translate(-40vh, -20vw);
}

.button#button1 {
  background-image: url('./images/model1.jpg');
}

.button#button2 {
  background-image: url('./images/model2.jpg');
}

.button#button3 {
  background-image: url('./images/model3.jpg');
}

.button.active {
  border-color: #FF6458;
}

.model {
  /* Shared styling for models */
  scale: 0.1;
}

.circbutton
{
scale: 0.01;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
